{no_search_results_block}
<div class="no_results">{lang_no_results_msg}<br />
<a href="{save_search_link}">{lang_no_results_save_search_link_text}</a> {lang_no_results_save_search}
</div>
{/no_search_results_block}
<table width="550" align="left" class="form_main">
	<tr>
		<td width="140" valign="top">
	 <div class="thumbs">{featured_listings_vertical}</div>		</td>
		<td width="400" valign="top">
			<h3>{lang_search_listings}</h3>
			{browse_all_listings_pclass}
			{templated_search_form}
			<h4>{lang_find_the_perfect_property}</h4>
			<form action="index.php" method="get">
				<table>
					{search_fields}
					<tr>
						<td align="center" colspan="2">
							<strong>{lang_text_search}</strong> {full_text_search}<br />
							{show_only_with_images} <strong>{lang_show_only_with_images}</strong><br />
							{show_only_with_vtours} <strong>{lang_show_only_with_vtours}</strong>
						</td>
					</tr>
					<tr>
						<td align="center" colspan="2">
							<input type="hidden" name="action" value="searchresults" />
							{search_type}
							<input type="button" value="{lang_search_button}" onclick="submit();" />
						</td>
					</tr>
				</table>
			</form>
			{/templated_search_form}
	 </td>
	</tr>
</table>
