<!--THIS IS WHAT IS VIEWED WHEN AGENT'S NAME IS CLICKED IN "VIEW USERS" FILE -->
<table width="550" border="0" align="left" cellpadding="5" cellspacing="5">
      <tr>
        <td>
<div class="view_user">
<span class="view_user_user_name">
{user_first_name} {user_last_name}
</span>
<div class="view_user_user_images">
<b>{lang_images}</b><br />
<hr align="left" style="width:200px;" />
{user_images_thumbnails}
</div>
<div class="view_user_user_info">
{user_display_info}
<br />
{user_contact_link}
<br /><br />
{user_listings_list}
</div>
<div class="view_user_user_hitcount">
{user_hit_count}
</div>
</div>
</td>
      </tr>
</table>