{blog_entry_block}
<div class="blog_entry">
	<div class="blog_date">{blog_date_posted}</div>
	<div class="blog_title">{blog_title}</div>

	<div class="blog_summary">{blog_summary}</div>

	<div class="blog_story_link_line"><a href="{blog_link_article}" class="blog_story_link" title="{blog_title}">{lang_blog_read_story} &gt;&gt;</a></div>
	<div class="blog_entry_footer">
		<div class="blog_byline">{lang_blog_post_by} {blog_author}</div> 	<div class="blog_comments">({blog_comment_count}) {lang_blog_comments}</div>
	</div>
</div>
{/blog_entry_block}