{no_search_results_block}
<div class="no_results">{lang_no_results_msg}<br />
<a href="{save_search_link}">{lang_no_results_save_search_link_text}</a> {lang_no_results_save_search}
</div>
{/no_search_results_block}
<table width="100%" align="center" cellpadding="4" cellspacing="4" class="form_main">
	<tr>
		<td valign="top">
			<h3>{lang_search_listings}</h3>
			{browse_all_listings_pclass}
			{templated_search_form}
			<h4>{lang_find_the_perfect_property}</h4>
			<form action="index.php" method="get">
				<table width="80%">
					{search_fields}
				    <tr>
					  <td align="left"><strong>{lang_text_search}</strong></td>
				      <td align="left">{full_text_search}</td>
				  </tr>
					<tr>
					  <td align="left"><strong>{lang_show_only_with_images}</strong></td>
					  <td align="left">{show_only_with_images}</td>
				  </tr>
				  <!--
					<tr>
					  <td align="left"><strong>{lang_show_only_with_vtours}</strong> </td>
					  <td align="left">{show_only_with_vtours}</td>
				  </tr>
				  -->
					<tr>
						<td align="center">&nbsp;</td>
					    <td align="left"><input type="hidden" name="action" value="searchresults" />
{search_type}
  <input name="button" type="button" onclick="submit();" value="{lang_search_button}" /></td>
					</tr>
				</table>
			</form>
			{/templated_search_form}		</td>
	</tr>
</table>
