<table class="featured_listings">
	<tr>
		<td  valign="top" class="featured_listings" align="center">
			<strong>{lang_featured_listings}</strong><br />
			{featured_listing_block}
			<hr />
			<a href="{featured_url}">
			{featured_img_block}<img src="{featured_thumb_src}" height="{featured_thumb_height}" width="{featured_thumb_width}" alt="{lang_click_to_learn_more}" /><br />{/featured_img_block}
			<strong>{listing_title}</strong></a>
			<br /><br />
			{/featured_listing_block}
		</td>
	</tr>
</table>