
<!-- bof "search_class_default.html" -->
	<!-- bof SLIDING PANELS - CSS SETTINGS AT style_sliding_panels.css -->
	<script type="text/javascript" src="{template_url}/js/SprySlidingPanels.js"></script>
	<div id="sliding_panels">
		<div id="ticker" class="SlidingPanels">
			<div class="SlidingPanelsContentGroup">
				<div id="item1" class="SlidingPanelsContent">
					<div class="panel">
						<div class="panel_images">
							<ul>
								<li><a href="#" onclick="sp.showPanel('item1'); return false;" title="HOMES"><img src="{template_url}/images/sign_homes.png" alt="HOMES" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item2'); return false;" title="FARMS"><img src="{template_url}/images/sign_farms.png" alt="FARMS" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item3'); return false;" title="LAND"><img src="{template_url}/images/sign_land.png" alt="LAND" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item4'); return false;" title="COMMERCIAL"><img src="{template_url}/images/sign_commercial.png" alt="COMMERCIAL" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item5'); return false;" title="RENTAL"><img src="{template_url}/images/sign_rental.png" alt="RENTAL" /></a></li>
							</ul>
						</div>
						<div class="panel_text">
							<strong>HOMES</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div id="item2" class="SlidingPanelsContent">
					<div class="panel">
						<div class="panel_images">
							<ul>
								<li><a href="#" onclick="sp.showPanel('item1'); return false;" title="HOMES"><img src="{template_url}/images/sign_homes.png" alt="HOMES" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item2'); return false;" title="FARMS"><img src="{template_url}/images/sign_farms.png" alt="FARMS" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item3'); return false;" title="LAND"><img src="{template_url}/images/sign_land.png" alt="LAND" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item4'); return false;" title="COMMERCIAL"><img src="{template_url}/images/sign_commercial.png" alt="COMMERCIAL" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item5'); return false;" title="RENTAL"><img src="{template_url}/images/sign_rental.png" alt="RENTAL" /></a></li>
							</ul>
						</div>
						<div class="panel_text">
							<strong>FARMS</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div id="item3" class="SlidingPanelsContent">
					<div class="panel">
						<div class="panel_images">
							<ul>
								<li><a href="#" onclick="sp.showPanel('item1'); return false;" title="HOMES"><img src="{template_url}/images/sign_homes.png" alt="HOMES" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item2'); return false;" title="FARMS"><img src="{template_url}/images/sign_farms.png" alt="FARMS" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item3'); return false;" title="LAND"><img src="{template_url}/images/sign_land.png" alt="LAND" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item4'); return false;" title="COMMERCIAL"><img src="{template_url}/images/sign_commercial.png" alt="COMMERCIAL" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item5'); return false;" title="RENTAL"><img src="{template_url}/images/sign_rental.png" alt="RENTAL" /></a></li>
							</ul>
						</div>
						<div class="panel_text">
							<strong>LAND</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div id="item4" class="SlidingPanelsContent">
					<div class="panel">
						<div class="panel_images">
							<ul>
								<li><a href="#" onclick="sp.showPanel('item1'); return false;" title="HOMES"><img src="{template_url}/images/sign_homes.png" alt="HOMES" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item2'); return false;" title="FARMS"><img src="{template_url}/images/sign_farms.png" alt="FARMS" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item3'); return false;" title="LAND"><img src="{template_url}/images/sign_land.png" alt="LAND" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item4'); return false;" title="COMMERCIAL"><img src="{template_url}/images/sign_commercial.png" alt="COMMERCIAL" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item5'); return false;" title="RENTAL"><img src="{template_url}/images/sign_rental.png" alt="RENTAL" /></a></li>
							</ul>
						</div>
						<div class="panel_text">
							<strong>COMMERCIAL</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
				<div id="item5" class="SlidingPanelsContent">
					<div class="panel">
						<div class="panel_images">
							<ul>
								<li><a href="#" onclick="sp.showPanel('item1'); return false;" title="HOMES"><img src="{template_url}/images/sign_homes.png" alt="HOMES" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item2'); return false;" title="FARMS"><img src="{template_url}/images/sign_farms.png" alt="FARMS" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item3'); return false;" title="LAND"><img src="{template_url}/images/sign_land.png" alt="LAND" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item4'); return false;" title="COMMERCIAL"><img src="{template_url}/images/sign_commercial.png" alt="COMMERCIAL" /></a></li>
								<li><a href="#" onclick="sp.showPanel('item5'); return false;" title="RENTAL"><img src="{template_url}/images/sign_rental.png" alt="RENTAL" /></a></li>
							</ul>
						</div>
						<div class="panel_text">
							<strong>RENTAL</strong> - Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">var sp=new Spry.Widget.SlidingPanels("ticker");</script>
	</div>
	<!-- eof SLIDING PANELS -->
	<!-- bof SEARCH CLASS FORM -->
	<div id="search_class_form">
		<h3>{lang_property_class_lookup_legend}</h3>
		<form action="index.php" method="get" name="class_search_form" id="class_search_form">
			<input id="class0" checked="checked" name="pclass[]" value="" type="checkbox" onclick="SearchClassCheckALL()" />{lang_all_listings}<br />
			{property_class_checkboxes}
			<input id="action" name="action" value="" type="hidden" />
			<input id="button_search_listings" name="build_search" value="{lang_search_listings}" type="button" onclick="document.class_search_form.action.value='search_step_2';document.getElementById('class_search_form').submit();" />
			<input id="button_view_listings" name="view_search_results" value="{lang_view_listings}" type="button" onclick="document.class_search_form.action.value='searchresults';document.getElementById('class_search_form').submit();" />
		</form>
	</div>
	<!-- eof SEARCH CLASS FORM -->
<!-- eof "search_class_default.html" -->
