{next_prev}
<table width="100%" border="0">
	<tr>
		<td>
			<table width="100%" border="0">
				<tr>
					<td align="center">
						<h3>{listing_title}</h3>
						{show_listed_by_admin_block}<h4>{lang_listed_by} <a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a></h4>{/show_listed_by_admin_block}
						<h4>{headline}</h4>
					</td>
				</tr>
			</table>
			<br />
			<table width="100%" border="0">
				<tr>
					<td>
						<table width="100%" border="0">
							<tr>
								<td colspan="2" align="center">
									{slideshow_images}<br />
									{vtour_button}
								</td>
							</tr>
							<tr>
								<td>
									{top_left}
								</td>
								<td>
									{top_right}
								</td>
							</tr>
						</table>
						<br />
						<table width="100%" border="0">
							<tr>
								<td>
									{center}
								</td>
							</tr>
						</table>
						<table width="100%" border="0">
							<tr>
								<td>
									{feature1}
								</td>
								<td>
									{feature2}
								</td>
							</tr>
						</table>
						{contact_agent_link}
						<br />{link_calc}
						{check_member}<br />{link_add_favorites}{/check_member}
						<br />{link_printer_friendly}
						<br />{link_email_friend}
						<br />{link_map}
						<br />{link_yahoo_school}
						<br />{link_yahoo_neighborhood}
						<table width="100%" border="0">
							<tr>
								<td>
									{bottom_left}
								</td>
								<td>
									{bottom_right}
								</td>
							</tr>
						</table>
						<br />
						<br />
						<hr style="width:75%;" />
						{show_listed_by_admin_block}<strong>{lang_listed_by}: </strong><a href="{listing_agent_link}">{listing_agent_first_name} {listing_agent_last_name}</a><br />{/show_listed_by_admin_block}
						{listing_agent_field_phone}<br />
						{listing_agent_field_mobile}<br />
						{listing_agent_field_fax}<br />
						{listing_agent_field_homepage}<br />
						{listing_agent_field_info}<br />
						<br />
						<br />
						<hr style="width:75%;" />
						{lang_this_listing_has_been_viewed} <b>{hitcount}</b> {lang_times}.
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>