
body {
	font:12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Sans-Serif;
	font-size:12px;
	}
h1, h2, h3, h4, h5, h6 {
	letter-spacing:-1px;
	color:#3C71AA;
	margin-bottom:5px;
	font-weight:normal;
	}
a, a:visited {
	color:#3C71AA;
	text-decoration:underline;
	}
img {
	border:0 none;
	}

#topnav {
	background-color:white;
	float:left;
	text-align:right;
	width:100%;
	color:#7E7E7E;
	}
#topnav a, #topnav a:visited {
	color:#7E7E7E;
	text-decoration:none;
	}
#header {
	padding-bottom:10px;
	border-bottom:3px solid #BFD5ED;
	}
#header h1 {
	margin:0px;
	font-size:23px;
	}
#page_margins {
	width:900px;
	padding:0px 10px 0px 10px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	}
#page {
	width:900px;
	float:left;
	background-color:#ffffff;
	padding:0px 10px 0px 10px;
	}
#main_lite {
	float:left;
	background-color:white;
	padding-top:10px;
	}
#nav_main {
	width:100%;
	background-color:#77A1CF;
	float:left;
	width:100%;
	border-bottom:2px solid #3C71AA;
	}
#nav_main ul, #nav_main ul li {
	margin:0px;
	padding:0px;
	list-style:none;
	display:inline;
	}
#nav_main a, #nav_main a:visited {
	display:block;
	float:right;
	padding:5px 15px 5px 15px;
	text-decoration:none;
	color:white;
	}
#nav_main a:hover {
	background-color:#3C71AA;
	color:white;
	}
select, input {
	font-size:12px;
	border:1px solid #E3E3E3;
	}
#col1, #col2, #col3 {float:left;}
#col1 {
	width:200px;
	float:left;
	}
#col1 ul {
	margin:0px;
	padding:0px;
	padding-left:20px;
	}
#col1 li {
	list-style-image:url(images/nav_arrow.gif);
	padding:5px 0px 5px 0px;
	}
#col1 li:hover {list-style-image:url(images/nav_arrow_over.gif);}
#col1 li a, #col1 li a:visited {
	color:#383838;
	text-decoration:none;
	}
#col2 {
	width:470px;
	float:left;
	padding:10px;
	border-right:1px solid #E3E3E3;
	border-left:0px;
	border-bottom:0px;
	}
#col3 {
	width:180px;
	float:left;
	padding:5px;
	margin-left:10px;
	}
#col3 input {width:95px;}
#col1 h2, #col3 h2 {
	width:91%;
	display:block;
	border-left:1px solid #77A1CF;
	border-bottom:1px solid #77A1CF;
	padding-left:10px;
	background-color:#F3F3F3;
	margin:0px;
	font-size:18px;
	margin-bottom:8px;
	}
#rss a ,#rss a:visited {
	font-size:10px;
	text-decoration:none;
	}
#rss img {
	padding-top:3px;
	padding-right:3px;
	}
.featured_listings {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	}
.featured_listings img {
	padding:2px;
	border:1px solid #cccccc;
	}
#footer {
	float:left;
	width:100%;
	padding:15px 0px 15px 0px;
	border-top:2px solid #77A1CF;
	text-align:center;
	margin-top:10px;
	}
.search_result_table {
	border-bottom:1px solid #CCCCCC;
	margin-bottom:10px;
	padding:5px 0px 5px 0px;
	}

/* *** This is internal css for Open-Realty */
.field_caption {font-weight:bold;}
.searchpage_field_caption {
	font-weight:bold;
	text-align:right;
	}
.searchpage_field_caption_row {
	font-weight:bold;
	text-align:right;
	}
.lat_long_header {font-size:12px;}
.view_image {text-align:center;}
.image_caption {
	font-size:16px;
	font-weight:bold;
	}
.view_user {padding-left:5px;}
.view_user_user_name {
	font-size:14px;
	font-weight:bold;
	}
.view_user_user_images {float:left;}
.view_user_user_info {
	float:left;
	padding-left:10px;
	}
.view_user_user_hitcount {clear:both;}
.view_user_user_box {}
.no_results {
	color:red;
	margin-top:10px;
	}

/* *** Generated by www.csscreator.com *** */
/* THIS IS SECTION IS FOR VERTICAL MENU */
.search_results {width:100%;}
.result_row_0 {background-color:#f8f8f8;}
.result_row_1 {background-color:#FFFFFF;}
.view_users {width:100%;}
.logo h1 {
	font-size:30px;
	color:#333333;
	vertical-align:text-bottom;
	margin:0px;
	margin-top:10px;
	font-weight:normal;
	}
.clr {clear:both;}
.content {position:relative;}

/* printer styles */
@media print {
	/* hide the left column when printing */
	#leftcol {display:none;}
	#outer {border-left:0;}
	}

/* THIS CONTROLS THE TABLES DISPLAYED BY PAGES GENERATED BY THE PAGE EDITOR */
table.page_display {border:3px;}
td.page_display {
	width:100%;
	vertical-align:top;
	}

/* THIS CONTROLS THE TABLES DISPLAYED IN THE ADMIN */
table.admin_main {
	border:3px;
	width:100%;
	}
td.admin_main {
	width:100%;
	vertical-align:top;
	}

/* THIS CONTROLS THE ROW colorS */
td.row1_0 {background-color:#FFFFFF;}
td.row2_0 {background-color:#C2C2C2;}
td.row3_0 {background-color:#FFFFFF;}
.adminListingLeft_0 {
	color:#FFFFFF;
	background-color:transparent;
	}

/* LISTING BROWSE PAGE NAVIGATION WIDGET 'next_prev()'display stuff */
.browse_tool_table {
	background-color:#FFFFFF;
	width:100%;
	font-size:11px;
	text-decoration:none;
	color:black;
	}
.browse_tool {
	background-color:#FFFFFF;
	font-size:9px;
	text-decoration:none;
	color:black;
	}
.browse_tool_num {color:#336699;}
.browse_tool_button A {
	background-color:#FFFFFF;
	font-size:9px;
	line-height:10px;
	text-align:center;
	border-color:#000000;
	border-style:outset;
	border-width:1px;
	font-weight:bold;
	text-decoration:none;
	color:#000000;
	width:55px;
	height:18px;
	display:block;
	padding:3px;
	}
.browse_tool_button A:visited {color:#000000;}
.browse_tool_button A:hover {
	color:#CCCCCC;
	border-style:inset;
	width:55px;
	height:18px;
	}
.browse_tool_ghost {
	font-size:9px;
	line-height:10px;
	color:#aaaaaa;
	text-decoration:none;
	}
.browse_tool_curpage {
	background-color:#f8f8f8;
	color:#CCCCCC;
	width:24px;
	height:20px;
	display:block;
	text-align:center;
	}
.bt_pages {
	font-family:verdana, arial, Helvetica, sans-serif;
	background-color:#D1DEE9;
	text-decoration:none;
	font-size:9px;
	vertical-align:middle;
	color:#000000;
	padding:0px;
	}
bt_pages_ghost {
	color:#aaaaaa;
	text-decoration:none;
	}
a.bt_pages {
	color:#000000;
	width:24px;
	height:20px;
	display:block;
	text-align:center;
	}
a.bt_pages:visited {color:#000000;}
a.bt_pages:hover {
	color:#FFFFFF;
	background:#132975;
	}

/* LISTING PAGE DETAILS 'listing_next_prev' */
.next_prev_listing {
	margin:2em 0 2em 3em;
	border:1px solid #a9a9a9;
	width:40em;
	text-align:center;
	}
.next_prev_listing ul {margin:1.5em auto;}
.next_prev_listing li {
	display:inline;
	padding:.5em 1em;
	list-style-type:none;
	}
.count, .listing_xy {
	width:100%;
	background-color:#dcdcdc;
	clear:both;
	padding:.5em 0;
	}

/* css for tabbed pages */
.dynamic-tab-pane-control.tab-pane {
	position:relative;
	width:100%; /* width needed weird IE bug */
	margin-right:-2px; /* to make room for the shadow */
	}
.dynamic-tab-pane-control .tab-row .tab {
	width:70px;
	height:16px;
	background-image:url("{template_url}/images/tab.png");
	position:relative;
	top:0;
	display:inline;
	float:left;
	overflow:hidden;
	cursor:Default;
	margin:1px -1px 1px 2px;
	padding:2px 0px 0px 0px;
	border:0;
	z-index:1;
	font:11px Tahoma;
	white-space:nowrap;
	text-align:center;
	}
.dynamic-tab-pane-control .tab-row .tab.selected {
	width:74px !important;
	height:18px !important;
	background-image:url("{template_url}/images/tab.active.png") !important;
	background-repeat:no-repeat;
	border-bottom-width:0;
	z-index:3;
	padding:2px 0 0px 0;
	margin:1px -3px -3px 0px;
	top:-2px;
	font:11px Tahoma;
	}
.dynamic-tab-pane-control .tab-row .tab a {
	font:11px Tahoma;
	color:black;
	text-decoration:none;
	cursor:default;
	}
.dynamic-tab-pane-control .tab-row .tab.hover {
	font:11px Tahoma;
	width:70px;
	height:16px;
	background-image:url("{template_url}/images/tab.hover.png");
	background-repeat:no-repeat;
	}
.dynamic-tab-pane-control .tab-page {
	clear:both;
	border:1px solid rgb(145, 155, 156);
	background:#ffffff;
	z-index:2;
	position:relative;
	top:-2px;
	font:11px Tahoma;
	color:black;
	padding:10px;
	}
.dynamic-tab-pane-control .tab-row {
	z-index:1;
	white-space:nowrap;
	}

/* setting for the size of the main image at mainjavacolumn, mainjavarows, slideshow and tabbed */
img#SLIDESIMG, img#main {
	width:320px;
	height:auto;
	}

/* BLOG VIEW
*******************************************************************************/
.blog_date {
clear:both;
color:#808080;
margin-bottom:3px;
font-size:10px;
}
.blog_title{
font-weight:bold;
font-size:18px;
color:#9FB6D5;
border-bottom:1px dotted;
}
.blog_summary{
padding:7px;
color:#808080;
}
.blog_story_link_line{
padding-left:7px;
padding-bottom:5px;
}
a.blog_story_link{
text-decoration:none !important;
}
.blog_entry_footer {
background-color:#9FB6D5;
display:block;
height:15px;
padding-left:5px;
padding-top:2px;
padding-right:5px;
margin-bottom:15px;
font-size:10px;
}

.blog_byline{
float:left;
}
.blog_comments{
float:right;
}
.blog_full_article{
padding:7px;
color:#808080;
}
.blog_article_comments_header{
font-weight:bold;
font-size:18px;
color:#053280;
margin-bottom:10px;
}

.blog_article_comment_item{
margin-left:10px;
margin-right:10px;
padding-bottom:5px;
padding-top:5px;
}
.blog_article_comment_title_row{
background-color:#9FB6D5;
display:block;
height:15px;
padding-left:5px;
padding-top:2px;
padding-right:5px;
margin-bottom:15px;
font-size:10px;
}
.blog_article_comment_text {
padding-left:5px;
padding-right:5px;
color:#808080;
}

.add_comment_block{
padding-left:20px;
margin-top:10px;
}

.blog_leave_comment_text {
color:#053280;
}
.blog_leave_comment_submit{
border-color:#053280;
font-weight:bold;
font-size:10px;
}

.blog_leave_comment_text_textarea{
width:500px;
height:75px;
}

/* TEMPLATE SELECTOR
 ============================================================================ */
form.template_selector {margin:0; padding:0;}
form.template_selector fieldset {border:none;}
select#select_users_template {width:150px;}
