<div class="view_users">
{next_prev}
<table border="0" class="view_users_user_table">
{user_block}
<tr>
<td>
{agent_image_thumb_1_block}{agent_image_thumb_1}<br />{/agent_image_thumb_1_block}
{agent_image_thumb_2_block}{agent_image_thumb_2}<br />{/agent_image_thumb_2_block}
{agent_image_thumb_3_block}{agent_image_thumb_3}<br />{/agent_image_thumb_3_block}
{agent_image_thumb_4_block}{agent_image_thumb_4}<br />{/agent_image_thumb_4_block}
{agent_image_thumb_5_block}{agent_image_thumb_5}<br />{/agent_image_thumb_5_block}
{agent_image_thumb_6_block}{agent_image_thumb_6}<br />{/agent_image_thumb_6_block}
{agent_image_thumb_7_block}{agent_image_thumb_7}<br />{/agent_image_thumb_7_block}
</td>
<td>
<br /><h3><a href="index.php?action=view_user&amp;user={agent_id}">{agent_first_name} {agent_last_name}</a></h3>
<p>{agent_contact_link}<br />
{agent_fields}
</p>
</td>
</tr>
{/user_block}
</table>
</div>